In [1]:
from neo4j import GraphDatabase

uri = "bolt://localhost:7687"
username = "neo4j"
password = "testpassword"

driver = GraphDatabase.driver(uri, auth=(username, password))

with driver.session() as session:
    result = session.run("MATCH (n) RETURN n")
    for record in result:
        print(record)
driver.close()

<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:0' labels=frozenset({'Person'}) properties={'name': 'Alice', 'age': 30}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:1' labels=frozenset({'Person'}) properties={'name': 'Bob', 'age': 25}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:2' labels=frozenset({'Person'}) properties={'name': 'Charlie', 'age': 35}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:3' labels=frozenset({'Station'}) properties={'latitude': -87.74919253254365, 'name': 'Oakton-Skokie', 'longitude': 'Yellow Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:4' labels=frozenset({'Station'}) properties={'latitude': -87.67625887027687, 'name': 'Howard', 'longitude': 'Yellow Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:5' labels=frozenset({'Station'}) properties={'latitude': -87.7357419301787, 'name': 'Pulaski-Midway', 'longitude': 'Orange Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:6' labels=frozenset({'Station'}) properties={'latitude': -87.69314343183936, 'name': 'Kedzie-Midway', 'longitude': 'Orange Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:7' labels=frozenset({'Station'}) properties={'latitude': -87.71572826769936, 'name': "Belmont-O'Hare", 'longitude': "Blue Line (O'Hare)"}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:8' labels=frozenset({'Station'}) properties={'latitude': -87.70407967876038, 'name': 'Logan Square', 'longitude': "Blue Line (O'Hare)"}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:9' labels=frozenset({'Station'}) properties={'latitude': -87.71294296954228, 'name': 'Kedzie-Homan', 'longitude': 'Blue Line (Forest Park)'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:10' labels=frozenset({'Station'}) properties={'latitude': -87.68204849772572, 'name': 'Western-Congress', 'longitude': 'Blue Line (Forest Park)'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:11' labels=frozenset({'Station'}) properties={'latitude': -87.66819556561138, 'name': 'Paulina Junction', 'longitude': 'Pink Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:12' labels=frozenset({'Station'}) properties={'latitude': -87.66937155411249, 'name': 'Polk', 'longitude': 'Pink Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:13' labels=frozenset({'Station'}) properties={'latitude': -87.67138030752572, 'name': 'Division/Milwaukee', 'longitude': "Blue Line (O'Hare)"}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:14' labels=frozenset({'Station'}) properties={'latitude': -87.65163544728097, 'name': 'Chicago/Milwaukee', 'longitude': "Blue Line (O'Hare)"}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:15' labels=frozenset({'Station'}) properties={'latitude': -87.6534189848212, 'name': 'Belmont-North Main', 'longitude': 'Brown, Purple (Express), Red'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:16' labels=frozenset({'Station'}) properties={'latitude': -87.65320289373939, 'name': 'Wellington', 'longitude': 'Brown, Purple (Express), Red'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:17' labels=frozenset({'Station'}) properties={'latitude': -87.67505328553142, 'name': 'Irving Park-Ravenswood', 'longitude': 'Brown Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:18' labels=frozenset({'Station'}) properties={'latitude': -87.67362795327178, 'name': 'Addison-Ravenswood', 'longitude': 'Brown Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:19' labels=frozenset({'Station'}) properties={'latitude': -87.67107312011272, 'name': 'Jarvis', 'longitude': 'Red, Purple Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:20' labels=frozenset({'Station'}) properties={'latitude': -87.66403278254828, 'name': 'Morse', 'longitude': 'Red, Purple Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:21' labels=frozenset({'Station'}) properties={'latitude': -87.63095648969231, 'name': 'Cermak-Chinatown', 'longitude': 'Red Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:22' labels=frozenset({'Station'}) properties={'latitude': -87.62746337617698, 'name': 'Roosevelt/State', 'longitude': 'Red Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:23' labels=frozenset({'Station'}) properties={'latitude': -87.65608309838089, 'name': 'UIC-Halsted', 'longitude': "Blue Line (O'Hare)"}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:24' labels=frozenset({'Station'}) properties={'latitude': -87.63591340985244, 'name': 'Clinton-Congress', 'longitude': "Blue Line (O'Hare)"}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:25' labels=frozenset({'Station'}) properties={'latitude': -87.62765202803897, 'name': 'Jackson/State', 'longitude': 'Red Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:26' labels=frozenset({'Station'}) properties={'latitude': -87.62746337617698, 'name': 'Harrison', 'longitude': 'Red Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:27' labels=frozenset({'Station'}) properties={'latitude': -87.63693289378533, 'name': 'Chicago/Franklin', 'longitude': 'Brown, Purple'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:28' labels=frozenset({'Station'}) properties={'latitude': -87.63395314632903, 'name': 'Merchandise Mart', 'longitude': 'Brown, Purple'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:29' labels=frozenset({'Station'}) properties={'latitude': -87.62977132594706, 'name': 'Clark/Lake', 'longitude': 'Brown, Green, Orange, Pink, Purple (Exp)'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:30' labels=frozenset({'Station'}) properties={'latitude': -87.62651540657565, 'name': 'State/Lake', 'longitude': 'Brown, Green, Orange, Pink, Purple (Exp)'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:31' labels=frozenset({'Station'}) properties={'latitude': -87.65257729864435, 'name': 'Subway Portal B', 'longitude': 'Red Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:32' labels=frozenset({'Station'}) properties={'latitude': -87.64029670253865, 'name': 'North/Clybourn', 'longitude': 'Red Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:33' labels=frozenset({'Station'}) properties={'latitude': -87.62492293341795, 'name': '79th', 'longitude': 'Red Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:34' labels=frozenset({'Station'}) properties={'latitude': -87.62794220448173, 'name': '69th', 'longitude': 'Red Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:35' labels=frozenset({'Station'}) properties={'latitude': -87.61892959513655, 'name': '43rd', 'longitude': 'Green Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:36' labels=frozenset({'Station'}) properties={'latitude': -87.62506275597973, 'name': 'Indiana', 'longitude': 'Green Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:37' labels=frozenset({'Station'}) properties={'latitude': -87.75886314538725, 'name': 'Laramie', 'longitude': 'Green Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:38' labels=frozenset({'Station'}) properties={'latitude': -87.73420295330818, 'name': 'Cicero-Lake', 'longitude': 'Green Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:39' labels=frozenset({'Station'}) properties={'latitude': -87.72817249018173, 'name': 'Pulaski-Douglas', 'longitude': 'Pink Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:40' labels=frozenset({'Station'}) properties={'latitude': -87.71003195565568, 'name': 'Central Park', 'longitude': 'Pink Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:41' labels=frozenset({'Station'}) properties={'latitude': -87.71230175234707, 'name': 'Kimball', 'longitude': 'Brown Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:42' labels=frozenset({'Station'}) properties={'latitude': -87.7052120799941, 'name': 'Kedzie-Ravenswood', 'longitude': 'Brown Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:43' labels=frozenset({'Station'}) properties={'latitude': -87.68243850188607, 'name': 'Western-Midway', 'longitude': 'Orange Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:44' labels=frozenset({'Station'}) properties={'latitude': -87.69076133192996, 'name': 'Western-Ravenswood', 'longitude': 'Brown Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:45' labels=frozenset({'Station'}) properties={'latitude': -87.67604417096673, 'name': 'Damen-Ravenswood', 'longitude': 'Brown Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:46' labels=frozenset({'Station'}) properties={'latitude': -87.66819556561138, 'name': 'Ashland-Lake', 'longitude': 'Green, Pink'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:47' labels=frozenset({'Station'}) properties={'latitude': -87.6473026853828, 'name': 'Morgan', 'longitude': 'Green, Pink'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:48' labels=frozenset({'Station'}) properties={'latitude': -87.67604417096673, 'name': 'Montrose-Ravenswood', 'longitude': 'Brown Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:49' labels=frozenset({'Station'}) properties={'latitude': -87.63108080725978, 'name': 'Garfield-Dan Ryan', 'longitude': 'Red Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:50' labels=frozenset({'Station'}) properties={'latitude': -87.63040771089304, 'name': '47th-Dan Ryan', 'longitude': 'Red Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:51' labels=frozenset({'Station'}) properties={'latitude': -87.65426099270495, 'name': 'Halsted-Midway', 'longitude': 'Orange Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:52' labels=frozenset({'Station'}) properties={'latitude': -87.62644587798265, 'name': '17th Junction', 'longitude': 'Orange Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:53' labels=frozenset({'Station'}) properties={'latitude': -87.6338910082031, 'name': 'Tower 18', 'longitude': 'Brown, Green, Orange, Pink, Purple (Exp)'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:54' labels=frozenset({'Station'}) properties={'latitude': -87.62809664347918, 'name': 'Grand/State', 'longitude': 'Red Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:55' labels=frozenset({'Station'}) properties={'latitude': -87.6277584857096, 'name': 'Lake/State', 'longitude': 'Red Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:56' labels=frozenset({'Station'}) properties={'latitude': -87.62882580114704, 'name': 'Clark/Division', 'longitude': 'Red Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:57' labels=frozenset({'Station'}) properties={'latitude': -87.77940760532844, 'name': 'Jefferson Park', 'longitude': "Blue Line (O'Hare)"}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:58' labels=frozenset({'Station'}) properties={'latitude': -87.73902760889078, 'name': "Montrose-O'Hare", 'longitude': "Blue Line (O'Hare)"}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:59' labels=frozenset({'Station'}) properties={'latitude': -87.71003195565568, 'name': 'Kedzie-Douglas', 'longitude': 'Pink Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:60' labels=frozenset({'Station'}) properties={'latitude': -87.6895117659396, 'name': 'California-Douglas', 'longitude': 'Pink Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:61' labels=frozenset({'Station'}) properties={'latitude': -87.70195475313736, 'name': 'California-Lake', 'longitude': 'Green Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:62' labels=frozenset({'Station'}) properties={'latitude': -87.69806180077974, 'name': 'Rockwell', 'longitude': 'Brown Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:63' labels=frozenset({'Station'}) properties={'latitude': -87.67015808258446, 'name': '18th', 'longitude': 'Pink Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:64' labels=frozenset({'Station'}) properties={'latitude': -87.66375408038127, 'name': 'Racine', 'longitude': "Blue Line (O'Hare)"}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:65' labels=frozenset({'Station'}) properties={'latitude': -87.65830813925162, 'name': 'Wilson', 'longitude': 'Red, Purple Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:66' labels=frozenset({'Station'}) properties={'latitude': -87.65385104548236, 'name': 'Sheridan', 'longitude': 'Red, Purple Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:67' labels=frozenset({'Station'}) properties={'latitude': -87.65066112326743, 'name': 'Halsted/63rd', 'longitude': 'Green Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:68' labels=frozenset({'Station'}) properties={'latitude': -87.61760578908596, 'name': '59th Junction', 'longitude': 'Green Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:69' labels=frozenset({'Station'}) properties={'latitude': -87.62663997071158, 'name': 'Library', 'longitude': 'Brown, Orange, Pink, Purple (Express)'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:70' labels=frozenset({'Station'}) properties={'latitude': -87.63331197883412, 'name': 'LaSalle/Van Buren', 'longitude': 'Brown, Orange, Pink, Purple (Express)'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:71' labels=frozenset({'Station'}) properties={'latitude': -87.62651443444896, 'name': 'Roosevelt/Wabash', 'longitude': 'Green, Orange'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:72' labels=frozenset({'Station'}) properties={'latitude': -87.6260663249338, 'name': 'Tower 12', 'longitude': 'Green, Orange'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:73' labels=frozenset({'Station'}) properties={'latitude': -87.63787454192575, 'name': 'Clinton-Lake', 'longitude': 'Green, Pink'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:74' labels=frozenset({'Station'}) properties={'latitude': -87.79991946212273, 'name': 'Oak Park-Congress', 'longitude': 'Blue Line (Forest Park)'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:75' labels=frozenset({'Station'}) properties={'latitude': -87.76230425197377, 'name': 'Austin-Congress', 'longitude': 'Blue Line (Forest Park)'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:76' labels=frozenset({'Station'}) properties={'latitude': -87.7984447896395, 'name': 'Harlem-Lake', 'longitude': 'Green Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:77' labels=frozenset({'Station'}) properties={'latitude': -87.78866729913625, 'name': 'Oak Park-Lake', 'longitude': 'Green Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:78' labels=frozenset({'Station'}) properties={'latitude': -87.82178886865803, 'name': "Harlem-O'Hare", 'longitude': "Blue Line (O'Hare)"}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:79' labels=frozenset({'Station'}) properties={'latitude': -87.77870079234583, 'name': 'Austin-Lake', 'longitude': 'Green Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:80' labels=frozenset({'Station'}) properties={'latitude': -87.75886314538725, 'name': 'Central-Lake', 'longitude': 'Green Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:81' labels=frozenset({'Station'}) properties={'latitude': -87.75084936460017, 'name': '54/Cermak', 'longitude': 'Pink Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:82' labels=frozenset({'Station'}) properties={'latitude': -87.7369993951692, 'name': 'Cicero-Douglas', 'longitude': 'Pink Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:83' labels=frozenset({'Station'}) properties={'latitude': -87.72223140293237, 'name': "Irving Park-O'Hare", 'longitude': "Blue Line (O'Hare)"}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:84' labels=frozenset({'Station'}) properties={'latitude': -87.67129660752907, 'name': 'Illinois Medical District', 'longitude': 'Blue Line (Forest Park)'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:85' labels=frozenset({'Station'}) properties={'latitude': -87.69168820858884, 'name': 'Western/Milwaukee', 'longitude': "Blue Line (O'Hare)"}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:86' labels=frozenset({'Station'}) properties={'latitude': -87.67138030752572, 'name': 'Damen/Milwaukee', 'longitude': "Blue Line (O'Hare)"}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:87' labels=frozenset({'Station'}) properties={'latitude': -87.66375408038127, 'name': 'Loomis Junction', 'longitude': 'Blue Line (Forest Park)'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:88' labels=frozenset({'Station'}) properties={'latitude': -87.64014166658279, 'name': 'Grand/Milwaukee', 'longitude': "Blue Line (O'Hare)"}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:89' labels=frozenset({'Station'}) properties={'latitude': -87.66705438610194, 'name': 'Paulina', 'longitude': 'Brown Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:90' labels=frozenset({'Station'}) properties={'latitude': -87.65504209231534, 'name': 'Southport', 'longitude': 'Brown Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:91' labels=frozenset({'Station'}) properties={'latitude': -87.65320289373939, 'name': 'Diversey', 'longitude': 'Brown, Purple (Express), Red'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:92' labels=frozenset({'Station'}) properties={'latitude': -87.65277143453118, 'name': 'Fullerton', 'longitude': 'Brown, Purple (Express), Red'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:93' labels=frozenset({'Station'}) properties={'latitude': -87.65912812125299, 'name': 'Thorndale', 'longitude': 'Red, Purple Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:94' labels=frozenset({'Station'}) properties={'latitude': -87.65875929085648, 'name': 'Bryn Mawr', 'longitude': 'Red, Purple Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:95' labels=frozenset({'Station'}) properties={'latitude': -87.62933004247226, 'name': 'Jackson/Dearborn', 'longitude': "Blue Line (O'Hare)"}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:96' labels=frozenset({'Station'}) properties={'latitude': -87.63591340985244, 'name': 'LaSalle', 'longitude': "Blue Line (O'Hare)"}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:97' labels=frozenset({'Station'}) properties={'latitude': -87.62882580114704, 'name': 'Chicago/State', 'longitude': 'Red Line'}>>
<Record n=<Node element_id='4:ca41dbad-5021-46c8-98bb-c521b336b04e:98' labels=frozenset({'Station'}) properties={'latitude': -87.61821950105747, 'name': 'Garfield-South Elevated', 'longitude': 'Green Line'}>>

# Menu

1) <a href="#insert">Insert ad-hoc data</a>
2) <a href="#csv">Load a CSV of data</a>
3) <a href="#query">Query database</a>

<a name="insert" />

# Insert ad-hoc data

In [2]:
from neo4j import GraphDatabase

# Connect to the Neo4j instance
uri = "bolt://localhost:7687"
username = "neo4j"
password = "testpassword"

driver = GraphDatabase.driver(uri, auth=(username, password))

# Function to add data
def add_data(session):
    session.run(
        """
        CREATE (a:Person {name: 'Alice', age: 30})
        CREATE (b:Person {name: 'Bob', age: 25})
        CREATE (c:Person {name: 'Charlie', age: 35})
        CREATE (a)-[:FRIENDS_WITH]->(b)
        CREATE (b)-[:FRIENDS_WITH]->(c)
        """
    )

# Function to query data
def query_data(session):
    result = session.run(
        """
        MATCH (p:Person)-[:FRIENDS_WITH]->(friend)
        RETURN p.name AS person, friend.name AS friend
        """
    )
    for record in result:
        print(f"{record['person']} is friends with {record['friend']}")

# Run the add and query functions in a session
with driver.session() as session:
    add_data(session)
    query_data(session)

# Close the driver connection
driver.close()

Alice is friends with Bob
Bob is friends with Charlie
Alice is friends with Bob
Bob is friends with Charlie

<a name="csv" />

# Load a CSV of data

In [3]:
import pandas as pd
nodes_data = pd.read_csv('../data/nodes_data.csv')
nodes_data.sample(5)

                 Station               Lines  Longitude   Latitude
45   Montrose-Ravenswood          Brown Line -87.676044  41.965402
103       Addison-O'Hare  Blue Line (O'Hare) -87.722231  41.949117
139  47th-South Elevated          Green Line -87.618930  41.812752
78             54/Cermak           Pink Line -87.750849  41.851873
51           Grand/State            Red Line -87.628097  41.894090

In [4]:
import pandas as pd
edges_data = pd.read_csv('../data/edges_data.csv')
edges_data.sample(5)

,From,To,Type,Legend,Alt_Legend,Branch,Owl,Shape,Shape_len
78,Damen-Ravenswood,Montrose-Ravenswood,Elevated or at Grade,BR,BR,Brown Line,No,Polyline,2371.581205
88,Cermak-McCormick Place,17th Junction,Elevated or at Grade,GR,GR,Green Line South Elevated,No,Polyline,2057.480507
31,California-Lake,Paulina Junction,Elevated or at Grade,GR,GR,Green Line Lake Street,No,Polyline,7309.368408
30,Kedzie-Douglas,California-Douglas,Elevated or at Grade,PK,PK,Pink Line,No,Polyline,2889.800417
144,Clark/Lake,Washington/Dearborn,Subway,BL,BL,Blue Line Dearborn Subway,Yes,Polyline,1285.128506

<a name="insert" />

# Create a new Neo4j graph

In [5]:
from neo4j import GraphDatabase
import pandas as pd

uri = "bolt://localhost:7687"
username = "neo4j"
password = "testpassword"
driver = GraphDatabase.driver(uri, auth=(username, password))

<a name="insert" />

# Load the Nodes to the Graph

In [6]:
with driver.session() as session:
    for index, row in nodes_data.iterrows():
        session.run(
            "CREATE (:Station {name: $name, longitude: $long, latitude: $lat})",
            name=row[0], long=row[1], lat=row[2]
        )

<a name="insert" />

# Load the Edges to the Graph

In [7]:
with driver.session() as session:
    for index, row in edges_data.iterrows():
        session.run(
            """
            MATCH (from:Station {name: $from_node})
            MATCH (to:Station {name: $to_node})
            CREATE (from)-[:CONNECTED_TO {
                type: $type, 
                legend: $legend,
                alt_legend: $alt_legend,
                branch: $branch,
                owl: $owl,
                shape: $shape,
                shape_len: toFloat($shape_len)
            }]->(to)
            """,
            from_node=row['From'],
            to_node=row['To'],
            type=row['Type'],
            legend=row['Legend'],
            alt_legend=row['Alt_Legend'],
            branch=row['Branch'],
            owl=row['Owl'],            
            shape=row['Shape'],       
            shape_len=row['Shape_len']
        )

In [8]:
with driver.session() as session:
    node_count = session.run("MATCH (n:Station) RETURN COUNT(n)").single()[0]
    edge_count = session.run("MATCH ()-[r:CONNECTED_TO]->() RETURN COUNT(r)").single()[0]

print(f"Number of stations: {node_count}")
print(f"Number of connections: {edge_count}")

Number of stations: 306
Number of connections: 765

In [9]:
nodes_data.shape

(153, 4)

In [10]:
edges_data.shape

(153, 9)

<a name="query" />

# Query database

In [11]:
# What is the total number of stations in the graph?
with driver.session() as session:
    result = session.run(
        """
        MATCH (s:Station)
        RETURN COUNT(s) AS TotalStations
        """
    )
    total_stations = result.single()["TotalStations"]

print(f"Total number of stations in the graph: {total_stations}")

Total number of stations in the graph: 306

In [12]:
# Find the station with the most connections
with driver.session() as session:
    result = session.run(
        """
        MATCH (station:Station)-[:CONNECTED_TO]-()
        RETURN station.name AS StationName, COUNT(*) AS ConnectionCount
        ORDER BY ConnectionCount DESC
        LIMIT 1
        """
    )
    record = result.single()
    station_name = record["StationName"]
    connection_count = record["ConnectionCount"]

print(f"Station with the most connections: {station_name} ({connection_count} connections)")

Station with the most connections: Clark/Lake (20 connections)

In [13]:
# What are the top 10 branches by total connection distance?
with driver.session() as session:
    result = session.run(
        """
        MATCH (:Station)-[r:CONNECTED_TO]-(:Station)
        RETURN r.branch AS Branch, SUM(r.shape_len) AS TotalDistanceFeet
        ORDER BY TotalDistanceFeet DESC
        LIMIT 10
        """
    )
    top_branches = [
        (record["Branch"], round(record["TotalDistanceFeet"] / 5280, 2), round(record["TotalDistanceFeet"] / 3.281 / 1000, 2))
        for record in result
    ]

print("Top 10 branches by total connection distance:")
for branch, distance_miles, distance_km in top_branches:
    print(f"{branch}: {distance_miles} miles ({distance_km} km)")

Top 10 branches by total connection distance:
Blue Line O'Hare: 171.12 miles (275.37 km)
Red Line North Side: 104.94 miles (168.87 km)
Red Line Dan Ryan: 101.81 miles (163.84 km)
Blue Line Forest Park: 96.61 miles (155.47 km)
Orange Line: 91.1 miles (146.61 km)
Green Line Lake Street: 87.44 miles (140.71 km)
Brown Line: 73.92 miles (118.96 km)
Pink Line: 66.84 miles (107.56 km)
Green Line South Elevated: 64.8 miles (104.28 km)
Yellow Line: 49.29 miles (79.32 km)

In [14]:
# Find and display stations connected by the "Orange Line"
with driver.session() as session:
    result = session.run(
        """
        MATCH (a:Station)-[r:CONNECTED_TO {branch: 'Orange Line'}]-(b:Station)
        RETURN a.name AS FromStation, b.name AS ToStation
        ORDER BY FromStation, ToStation
        """
    )
    connections = [(record["FromStation"], record["ToStation"]) for record in result]

print("Stations connected by the 'Orange Line':")
for index, (from_station, to_station) in enumerate(connections, start=1):
    print(f"{index}. {from_station} -> {to_station}")

Stations connected by the 'Orange Line':
1. 17th Junction -> Halsted-Midway
2. 17th Junction -> Halsted-Midway
3. 17th Junction -> Halsted-Midway
4. 17th Junction -> Halsted-Midway
5. 17th Junction -> Halsted-Midway
6. 35th/Archer -> Ashland-Midway
7. 35th/Archer -> Ashland-Midway
8. 35th/Archer -> Ashland-Midway
9. 35th/Archer -> Ashland-Midway
10. 35th/Archer -> Ashland-Midway
11. 35th/Archer -> Western-Midway
12. 35th/Archer -> Western-Midway
13. 35th/Archer -> Western-Midway
14. 35th/Archer -> Western-Midway
15. 35th/Archer -> Western-Midway
16. Ashland-Midway -> 35th/Archer
17. Ashland-Midway -> 35th/Archer
18. Ashland-Midway -> 35th/Archer
19. Ashland-Midway -> 35th/Archer
20. Ashland-Midway -> 35th/Archer
21. Ashland-Midway -> Halsted-Midway
22. Ashland-Midway -> Halsted-Midway
23. Ashland-Midway -> Halsted-Midway
24. Ashland-Midway -> Halsted-Midway
25. Ashland-Midway -> Halsted-Midway
26. Halsted-Midway -> 17th Junction
27. Halsted-Midway -> 17th Junction
28. Halsted-Midway -> 17th Junction
29. Halsted-Midway -> 17th Junction
30. Halsted-Midway -> 17th Junction
31. Halsted-Midway -> Ashland-Midway
32. Halsted-Midway -> Ashland-Midway
33. Halsted-Midway -> Ashland-Midway
34. Halsted-Midway -> Ashland-Midway
35. Halsted-Midway -> Ashland-Midway
36. Kedzie-Midway -> Pulaski-Midway
37. Kedzie-Midway -> Pulaski-Midway
38. Kedzie-Midway -> Pulaski-Midway
39. Kedzie-Midway -> Pulaski-Midway
40. Kedzie-Midway -> Pulaski-Midway
41. Kedzie-Midway -> Western-Midway
42. Kedzie-Midway -> Western-Midway
43. Kedzie-Midway -> Western-Midway
44. Kedzie-Midway -> Western-Midway
45. Kedzie-Midway -> Western-Midway
46. Midway Airport -> Pulaski-Midway
47. Midway Airport -> Pulaski-Midway
48. Midway Airport -> Pulaski-Midway
49. Midway Airport -> Pulaski-Midway
50. Midway Airport -> Pulaski-Midway
51. Pulaski-Midway -> Kedzie-Midway
52. Pulaski-Midway -> Kedzie-Midway
53. Pulaski-Midway -> Kedzie-Midway
54. Pulaski-Midway -> Kedzie-Midway
55. Pulaski-Midway -> Kedzie-Midway
56. Pulaski-Midway -> Midway Airport
57. Pulaski-Midway -> Midway Airport
58. Pulaski-Midway -> Midway Airport
59. Pulaski-Midway -> Midway Airport
60. Pulaski-Midway -> Midway Airport
61. Western-Midway -> 35th/Archer
62. Western-Midway -> 35th/Archer
63. Western-Midway -> 35th/Archer
64. Western-Midway -> 35th/Archer
65. Western-Midway -> 35th/Archer
66. Western-Midway -> Kedzie-Midway
67. Western-Midway -> Kedzie-Midway
68. Western-Midway -> Kedzie-Midway
69. Western-Midway -> Kedzie-Midway
70. Western-Midway -> Kedzie-Midway

In [15]:
with driver.session() as session:
    result = session.run("""
        MATCH (a:Station)-[r:CONNECTED_TO]-(b:Station)
        RETURN 
            a.name AS FromStation, 
            b.name AS ToStation, 
            r.shape_len/5280 AS DistanceMiles,  // Convert feet to miles
            r.shape_len/3.281 AS DistanceMeters  // Convert feet to meters
        ORDER BY r.shape_len DESC
        LIMIT 1
    """)
    record = result.single()
    from_station = record["FromStation"]
    to_station = record["ToStation"]
    distance_miles = round(record["DistanceMiles"], 2)
    distance_km = round(record["DistanceMeters"]/1000, 2)
    print(f"Longest connection is from {from_station} to {to_station}")
    print(f"Distance: {distance_miles} miles ({distance_km} km)")

Longest connection is from Howard to Oakton-Skokie
Distance: 4.01 miles (6.46 km)

In [16]:
# Find and display stations directly connected to "Howard"
with driver.session() as session:
    result = session.run(
        """
        MATCH (a:Station {name: 'Howard'})-[:CONNECTED_TO]-(b:Station)
        RETURN b.name AS ConnectedStation
        ORDER BY b.name
        """
    )
    connected_stations = [record["ConnectedStation"] for record in result]


print(f"Stations directly connected to 'Howard':")
for index, station in enumerate(connected_stations, start=1):
    print(f"{index}. {station}")

Stations directly connected to 'Howard':
1. Jarvis
2. Jarvis
3. Jarvis
4. Jarvis
5. Jarvis
6. Oakton-Skokie
7. Oakton-Skokie
8. Oakton-Skokie
9. Oakton-Skokie
10. Oakton-Skokie
11. South Blvd.
12. South Blvd.
13. South Blvd.
14. South Blvd.
15. South Blvd.

In [17]:
# Calculate the average distance of all connections
with driver.session() as session:
    result = session.run(
        """
        MATCH (:Station)-[r:CONNECTED_TO]-(:Station)
        RETURN 
            AVG(r.shape_len)/5280 AS AverageDistanceMiles,  // Convert feet to miles
            AVG(r.shape_len)/3.281 AS AverageDistanceMeters  // Convert feet to meters
        """
    )
    record = result.single()
    avg_distance_miles = round(record["AverageDistanceMiles"], 2)
    avg_distance_km = round(record["AverageDistanceMeters"]/1000, 2)

print(f"Average distance of all connections: {avg_distance_miles} miles ({avg_distance_km} km)")

Average distance of all connections: 0.67 miles (1.08 km)

In [18]:
# Function to find the shortest path between two stations
def find_shortest_path(driver, start_station, end_station):
    with driver.session() as session:
        result = session.run(
            """
            MATCH p=shortestPath((start:Station {name: $start_station})-[:CONNECTED_TO*]-(end:Station {name: $end_station}))
            RETURN [n IN nodes(p) | n.name] AS Path, length(p) AS Stops
            """,
            start_station=start_station,
            end_station=end_station
        )
        record = result.single()
        if record:
            path = record["Path"]
            stops = record["Stops"]
            print(f"Shortest route from '{start_station}' to '{end_station}':")
            print(f"  - Path: {' -> '.join(path)}")
            print()
            print(f"  - Total stops: {stops}")
        else:
            print(f"No path found between '{start_station}' and '{end_station}'.")

start_station = "Howard"  
end_station = "Belmont-O'Hare"  
find_shortest_path(driver, start_station, end_station)

Shortest route from 'Howard' to 'Belmont-O'Hare':
  - Path: Howard -> Jarvis -> Morse -> Loyola -> Granville -> Thorndale -> Bryn Mawr -> Berwyn -> Argyle -> Lawrence -> Wilson -> Sheridan -> Addison-North Main -> Clark Junction -> Belmont-North Main -> Wellington -> Diversey -> Fullerton -> Armitage -> Subway Portal B -> Sedgwick -> Chicago/Franklin -> Merchandise Mart -> Tower 18 -> Clark/Lake -> Grand/Milwaukee -> Chicago/Milwaukee -> Division/Milwaukee -> Damen/Milwaukee -> Western/Milwaukee -> California/Milwaukee -> Logan Square -> Belmont-O'Hare

  - Total stops: 32

/Users/dayvheed/opt/anaconda3/lib/python3.9/site-packages/neo4j/_sync/work/result.py:465: UserWarning: Expected a result with a single record, but found multiple.
  warn("Expected a result with a single record, "

In [19]:
# Find the station with the longest cumulative connections
with driver.session() as session:
    result = session.run(
        """
        MATCH (station:Station)-[r:CONNECTED_TO]-()
        RETURN 
            station.name AS StationName, 
            SUM(r.shape_len)/5280 AS TotalDistanceMiles,  // Convert feet to miles
            SUM(r.shape_len)/3.281 AS TotalDistanceMeters  // Convert feet to meters
        ORDER BY TotalDistanceMiles DESC
        LIMIT 1
        """
    )
    record = result.single()
    station_name = record["StationName"]
    total_distance_miles = round(record["TotalDistanceMiles"], 2)
    total_distance_km = round(record["TotalDistanceMeters"]/1000, 2)

print(f"Station with the longest cumulative connections:")
print(f"{station_name} with a total distance of {total_distance_miles} miles ({total_distance_km} km)")

Station with the longest cumulative connections:
Howard with a total distance of 24.99 miles (40.21 km)

In [20]:
# Determine which branch connects the most stations
with driver.session() as session:
    result = session.run(
        """
        MATCH (:Station)-[r:CONNECTED_TO]-(:Station)
        RETURN r.branch AS Branch, COUNT(DISTINCT r) AS UniqueConnections
        ORDER BY UniqueConnections DESC
        LIMIT 1
        """
    )
    record = result.single()
    branch = record["Branch"]
    connections = record["UniqueConnections"]

print(f"Branch connecting the most unique stations: {branch} ({connections} connections)")

Branch connecting the most unique stations: Red Line North Side (120 connections)

In [21]:
# Find stations reachable within 3 hops from "Howard"
with driver.session() as session:
    result = session.run(
        """
        MATCH (start:Station {name: 'Howard'})-[:CONNECTED_TO*..3]-(reachable:Station)
        RETURN DISTINCT reachable.name AS StationName
        ORDER BY reachable.name
        """
    )
    stations = [record["StationName"] for record in result]

if stations:
    print(f"Stations reachable within 3 hops from 'Howard' ({len(stations)} total):")
    for index, station in enumerate(stations, start=1):
        print(f"{index}. {station}")
else:
    print("No stations are reachable within 3 hops from 'Howard'.")

Stations reachable within 3 hops from 'Howard' (9 total):
1. Dempster
2. Dempster-Skokie
3. Howard
4. Jarvis
5. Loyola
6. Main
7. Morse
8. Oakton-Skokie
9. South Blvd.

In [22]:
# Find stations that belong to more than one branch
with driver.session() as session:
    result = session.run(
        """
        MATCH (station:Station)-[r:CONNECTED_TO]-()
        WITH station, COLLECT(DISTINCT r.branch) AS Branches
        WHERE size(Branches) > 1
        RETURN station.name AS StationName, Branches
        """
    )
    stations = [(record["StationName"], record["Branches"]) for record in result]

print(f"Stations part of multiple branches:")
for station_name, branches in stations:
    print(f"{station_name}: {', '.join(branches)}")

Stations part of multiple branches:
Howard: Purple Line Evanston, Red Line North Side, Yellow Line
Paulina Junction: Green Line Lake Street, Pink Line
Roosevelt/State: Red Line State Street Subway, Red Line Dan Ryan
Clark/Lake: Blue Line Dearborn Subway, Blue Line O'Hare, Loop Elevated
Subway Portal B: Red Line North Side, Brown Line
17th Junction: Green Line South Elevated, Orange Line
Tower 18: Loop Elevated, Brown Line, Green Line Lake Street
Lake/State: Red Line State Street Subway, Red Line North Side
59th Junction: Green Line East 63rd Branch, Green Line South Elevated, Green Line Ashland/63rd Branch
Tower 12: Loop Elevated, Green Line South Elevated
LaSalle: Blue Line Forest Park, Blue Line Dearborn Subway
Clark Junction: Red Line North Side, Brown Line
Howard: Purple Line Evanston, Red Line North Side, Yellow Line
Paulina Junction: Green Line Lake Street, Pink Line
Roosevelt/State: Red Line State Street Subway, Red Line Dan Ryan
Clark/Lake: Blue Line Dearborn Subway, Blue Line O'Hare, Loop Elevated
Subway Portal B: Red Line North Side, Brown Line
17th Junction: Green Line South Elevated, Orange Line
Tower 18: Loop Elevated, Brown Line, Green Line Lake Street
Lake/State: Red Line State Street Subway, Red Line North Side
59th Junction: Green Line East 63rd Branch, Green Line South Elevated, Green Line Ashland/63rd Branch
Tower 12: Loop Elevated, Green Line South Elevated
LaSalle: Blue Line Forest Park, Blue Line Dearborn Subway
Clark Junction: Red Line North Side, Brown Line

In [23]:
# Find stations that belong to more than one branch
with driver.session() as session:
    result = session.run(
        """
        MATCH (station:Station)-[r:CONNECTED_TO]-()
        WITH station, COLLECT(DISTINCT r.branch) AS Branches
        WHERE size(Branches) > 1
        RETURN station.name AS StationName, Branches
        ORDER BY station.name
        """
    )
    stations = [(record["StationName"], record["Branches"]) for record in result]

if stations:
    print(f"Stations that are part of multiple branches ({len(stations)} total):")
    for index, (station_name, branches) in enumerate(stations, start=1):
        branch_list = ', '.join(branches)
        print(f"{index}. {station_name}: Branches: [{branch_list}]")
else:
    print("No stations are part of multiple branches.")

Stations that are part of multiple branches (24 total):
1. 17th Junction: Branches: [Green Line South Elevated, Orange Line]
2. 17th Junction: Branches: [Green Line South Elevated, Orange Line]
3. 59th Junction: Branches: [Green Line East 63rd Branch, Green Line South Elevated, Green Line Ashland/63rd Branch]
4. 59th Junction: Branches: [Green Line East 63rd Branch, Green Line South Elevated, Green Line Ashland/63rd Branch]
5. Clark Junction: Branches: [Red Line North Side, Brown Line]
6. Clark Junction: Branches: [Red Line North Side, Brown Line]
7. Clark/Lake: Branches: [Blue Line Dearborn Subway, Blue Line O'Hare, Loop Elevated]
8. Clark/Lake: Branches: [Blue Line Dearborn Subway, Blue Line O'Hare, Loop Elevated]
9. Howard: Branches: [Purple Line Evanston, Red Line North Side, Yellow Line]
10. Howard: Branches: [Purple Line Evanston, Red Line North Side, Yellow Line]
11. LaSalle: Branches: [Blue Line Forest Park, Blue Line Dearborn Subway]
12. LaSalle: Branches: [Blue Line Forest Park, Blue Line Dearborn Subway]
13. Lake/State: Branches: [Red Line State Street Subway, Red Line North Side]
14. Lake/State: Branches: [Red Line State Street Subway, Red Line North Side]
15. Paulina Junction: Branches: [Green Line Lake Street, Pink Line]
16. Paulina Junction: Branches: [Green Line Lake Street, Pink Line]
17. Roosevelt/State: Branches: [Red Line State Street Subway, Red Line Dan Ryan]
18. Roosevelt/State: Branches: [Red Line State Street Subway, Red Line Dan Ryan]
19. Subway Portal B: Branches: [Red Line North Side, Brown Line]
20. Subway Portal B: Branches: [Red Line North Side, Brown Line]
21. Tower 12: Branches: [Loop Elevated, Green Line South Elevated]
22. Tower 12: Branches: [Loop Elevated, Green Line South Elevated]
23. Tower 18: Branches: [Loop Elevated, Brown Line, Green Line Lake Street]
24. Tower 18: Branches: [Loop Elevated, Brown Line, Green Line Lake Street]

In [24]:
# Find top 3 busiest stations by cumulative distance
with driver.session() as session:
    result = session.run(
        """
        MATCH (station:Station)-[r:CONNECTED_TO]-()
        RETURN 
            station.name AS StationName, 
            SUM(r.shape_len)/5280 AS TotalDistanceMiles,  // Convert feet to miles
            SUM(r.shape_len)/3.281 AS TotalDistanceMeters  // Convert feet to meters
        ORDER BY TotalDistanceMiles DESC
        LIMIT 3
        """
    )
    top_stations = [
        (
            record["StationName"],
            round(record["TotalDistanceMiles"], 2),
            round(record["TotalDistanceMeters"] / 1000, 2)
        )
        for record in result
    ]

print(f"Top 3 busiest stations by cumulative distance:")
for station_name, distance_miles, distance_km in top_stations:
    print(f"{station_name}: {distance_miles} miles ({distance_km} km)")

Top 3 busiest stations by cumulative distance:
Howard: 24.99 miles (40.21 km)
Oakton-Skokie: 24.64 miles (39.66 km)
Harlem-O'Hare: 21.22 miles (34.15 km)